@import "tailwindcss";

/* - Main color  neutral-950*/
/*  text-netural-900 */

/* font-size 10/12/14/16/18/20/24/30/36/44/52/62/74/86/98

spacing system 2/4/8/12/16/24/32/48/64/80/96/128 */

/* za padding-x koristi p-7 */

/* Koristi @theme inline za overridovanje tailwind klasa */

@theme inline {
  /* property ispod treba da ide u @layer utilities */
  --color-main-color-shade: var(--color-neutral-950);
  /* className='text-main-color-shade' */
  /* property ispod treba da ide u @layer utilities */
  --color-main-color-tint: var(--color-neutral-500);
  --color-secondary-color: var(--color-slate-100);
  /* property ispod treba da ide u @layer utilities */
  --padding-x-horizontal: 0% 7% 0% 7%;
  /* property ispod treba da ide u @layer utilities */
  --height-thumbnail: calc(100vh - 84px);
  /* boje za reviews sekciju */
  /* property ispod treba da ide u @layer utilities */
  --color-first-review: rgb(240, 240, 240);
  --color-second-review: rgb(220, 220, 220);
  /* property ispod treba da ide u @layer utilities */
  --shadow-my-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  /* nova secondary boja */
  /* property ispod treba da ide u @layer utilities */
  --color-secondary-new: #f3f3f3;
  /* property ispod treba da ide u @layer utilities */
  /* 1146px */
  --breakpoint-1146: 71rem;
}
/* Koristi @layer base za definisanje globalnih pravila */
@layer base {
  body {
    font-family: serif;
    color: var(--color-main-color-shade);
  }

  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  .active {
    @apply underline underline-offset-8;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 2px solid #3b82f6;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 2px solid #3b82f6;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}
/* Koristi @layer utilities za dodavanje novih utility klasa */
@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

/* Koristi components za dodavanje skupa utility klasa */
@layer components {
  .btn {
    @apply border-main-color-shade text-secondary-color bg-main-color-shade inline-block cursor-pointer rounded-sm border px-6 py-3;
  }
  .btn:hover {
    @apply shadow-md;
  }
  .btn:active {
    @apply text-main-color-shade border-main-color-shade bg-secondary-color;
  }
  .gradient_image_man {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/Images/HomePage/AboutProducts/teest2.jpg);
  }
  .gradient_image_woman {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/Images/HomePage/AboutProducts/teest.jpg);
  }
  .gradient_image_home {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/Images/HomePage/AboutProducts/peti_1.webp);
  }
  .grid-reviewers {
    display: grid;
    grid-template-columns: 410px 3.5fr 5fr;
  }
  /* ovo je gradiant za thumbnail sliku na shop page-u */
  .gradient_image_shop {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/Images/ShopPage/Thumbnail/thumbnail.jpg);
  }
}
